<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706807763942-barrf1fvm2bbja3h2hro2vdm6043si94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706807763942-barrf1fvm2bbja3h2hro2vdm6043si94</string>
	<key>API_KEY</key>
	<string>AIzaSyDfZ0hAupnCXDLa974xicLQR1Z6yRX7fgI</string>
	<key>GCM_SENDER_ID</key>
	<string>706807763942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.voiceeffectchanger</string>
	<key>PROJECT_ID</key>
	<string>ios-new-appllication-2020</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-new-appllication-2020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706807763942:ios:80a9680578155cff77fc27</string>
	<key>DATABASE_URL</key>
	<string>https://ios-new-appllication-2020.firebaseio.com</string>
</dict>
</plist>